<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="title">
          <a class="title-a" routerLink="/"><span>IEEE</span> Magazine</a>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>  
      </div>
      <div class="col-md-4">
        <div class="links">
          <a class="my-3" routerLink="">LINK</a>
          <a class="my-3" routerLink="">LINK</a>
          <a class="my-3" routerLink="">LINK</a>
        </div>   
      </div>
      <div class="col-md-4">
          <div class="contact">
            <h4>Contact Us</h4>
            <div class="line"></div>
            <p class="mt-4">Call Us: +12345678</p>
            <p>Address: Cairo uni, Egypt</p>
            <p>Email: ieee@gmail.com</p>
            <p><a href="#"><i class="mx-2 fa fa-facebook"></i></a>
              <a href="#"><i class="mx-2 fa fa-twitter"></i></a>
               <a href="#"> <i class="mx-2 fa fa-linkedin"></i> </a></p>
          </div>
        </div>
    </div>
  </div>
</footer>