<section id="article">
  <div class="container-fluid mt-3">
    <div class="art-head">
      <div class="title">
        <h1>Bit-coin</h1>
        <p class="float-left">By: Jane Doe.</p>
        <p class="date float-right mr-3">2/1/2020</p>
      </div>
    </div>
    <div class="container-fluid">
      <div class="art-body px-3 mt-3">
        <h1>Ay7aga</h1><hr class="float-left w-25">
        <div class="clearfix"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,<br>
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>

