<section id="home">
  <header>
    <div class="banner">
      <div class="text">
        <h1> IEEE Online Magazine</h1>
      </div>
    </div>
  </header>
  <section id="top-five">
    <div class="container">
      <div class="container">
        <div class="news-container">
          <div class="fst news">
            <div class="topic">
                <img class="img-fluid w-100 h-100" src="../../assets/images/news/robot.jpg">
                <div class="text px-3">
                  <h2>The future of robots</h2>
                  <a>Read</a>
                  <p>By: John Doe</p>
                </div>
            </div>
          </div>
          <div class="news">
            <div class="topic">
              <img class="img-fluid w-100 h-100" src="../../assets/images/news/bitcoin.jpg">
              <div class="text px-3">
                <h2>The History Bitcoin.</h2>
                <p>By: John Doe</p>
                <a>Read</a>
              </div>
            </div>
          </div>
          <div class="news">
            <div class="topic">
                <img class="img-fluid w-100 h-100" src="../../assets/images/news/tesla.jpg">
                <div class="text px-3">
                  <h2>Tesla's cybertruck</h2>
                  <p>By: John Doe</p>
                  <a>Read</a>
                </div>
            </div>
          </div>
          <div class="news">
            <div class="topic">
              <img class="img-fluid w-100 h-100" src="../../assets/images/news/bitcoin.jpg">
              <div class="text px-3">
                <h2>The History Bitcoin.</h2>
                <p>By: John Doe</p>
                <a>Read</a>
              </div>
            </div>
          </div>
          <div class="news">
            <div class="topic">
                <img class="img-fluid w-100 h-100" src="../../assets/images/news/robot.jpg">
                <div class="text px-3">
                  <h2>The future of robots</h2>
                  <a>Read</a>
                  <p>By: John Doe</p>
                </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section>

  <hr>
<!--Issues sction-->
  <section id="issues">
    <div class="issues-tabs">
      <div class="container">
        <div class="row mb-2">
          <div class="tab_container">
            <h1 class="text-center">Latest Issues</h1>
            <input id="tab1" type="radio" name="tabs" checked>
            <label for="tab1"><span>Issue 39</span></label>

            <input id="tab2" type="radio" name="tabs">
            <label for="tab2"><span>Issue 38</span></label>

            <input id="tab3" type="radio" name="tabs">
            <label for="tab3"><span>Issue 37</span></label>

            <input id="tab4" type="radio" name="tabs">
            <label for="tab4"><span>Issue 36</span></label>

            <section id="content1" class="tab-content">
              <div class="issue text-center">
                <div (click)="readArticle()" class="article">
                  <h2>TITLE</h2>
                  <div class="img">
                    <img class="img-fluid" alt="where-did-the-moon-come-from" src="../../assets/images/news/bitcoin.jpg">
                    <div class="layer">
                      <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore.</p>
                      <span class="float-right mr-1">By: Jane Doe.</span>

                    </div>
                  </div>
                  
                </div>
                <div class="article">
                  <h2>TITLE</h2>
                  <div class="img">
                    <img class="img-fluid" alt="where-did-the-moon-come-from" src="../../assets/images/news/bitcoin.jpg">
                    <div class="layer">
                      <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore.</p>
                    </div>
                  </div>                </div>
                <div class="article">
                  <h2>TITLE</h2>
                  <img class="img-fluid" alt="where-did-the-moon-come-from" src="../../assets/images/news/bitcoin.jpg">
                </div>
                <div class="article">
                  <h2>TITLE</h2>
                  <img class="img-fluid" alt="where-did-the-moon-come-from" src="../../assets/images/news/bitcoin.jpg">
                </div>
                <div class="article">
                  <h2>TITLE</h2>
                  <img class="img-fluid" alt="where-did-the-moon-come-from" src="../../assets/images/news/bitcoin.jpg">
                </div>
                
              </div>
            </section>

            <section id="content2" class="tab-content">
              <div class="issue text-center">
                <div class="article">
                  <h2>TITLE</h2>
                  <img class="img-fluid" alt="where-did-the-moon-come-from" src="../../assets/images/news/tesla.jpeg">
                </div>
                <div class="article">
                  <h2>TITLE</h2>
                  <img class="img-fluid" alt="where-did-the-moon-come-from" src="../../assets/images/news/tesla.jpeg">
                </div>
                <div class="article">
                  <h2>TITLE</h2>
                  <img class="img-fluid" alt="where-did-the-moon-come-from" src="../../assets/images/news/tesla.jpeg">
                </div>
                <div class="article">
                  <h2>TITLE</h2>
                  <img class="img-fluid" alt="where-did-the-moon-come-from" src="../../assets/images/news/tesla.jpeg">
                </div>
                <div class="article">
                  <h2>TITLE</h2>
                  <img class="img-fluid" alt="where-did-the-moon-come-from" src="../../assets/images/news/tesla.jpeg">
                </div>
              </div>
            </section>
          </div>          
        </div>
      </div>
    </div>
  </section>

  <section id="all-issues">
    
  </section>
</section>
<app-footer></app-footer>
